.container
  width: 100%
  padding-right: 15px
  padding-left: 15px
  margin-right: auto
  margin-left: auto
  
.chat-container
  padding: 25px 25px 58px
  position: initial !important
  margin: 0 auto
  border-right: 1px solid #c3c3c3
  border-left: 1px solid #c3c3c3
  min-height: calc(100vh - 4rem)

  > .chat-form
    position: fixed
    bottom: 0
    left: 0
    width: 100%
    border-top: 1px solid #b5b5b5
    display: flex
    background-color: #fff

    > input
      padding: .55rem .7rem .7rem .7rem
      border: none
      outline: none
      display: block
      flex-grow: 1
      line-height: normal

    > button
      border: none
      width: 43px
      color: #565656
      outline: none
      transition: .3s ease-in-out
      background-color: transparent
      display: flex
      justify-content: center
      align-items: center
      cursor: pointer
    
    > button:hover
      color: #333
      > .material-icons
        animation: .4s pulse

    > button:active
      background-color: #dadada - 20
      border-radius: 50%
      > .material-icons
        animation: .4s pulseInverted

  .chat-message.me
    > .chat-bubble
      margin-left: auto
    > .chat-profile
      flex-shrink: 0
      margin-left: 10px

  .chat-message.others
    // > .chat-bubble
    > .chat-profile
      flex-shrink: 0
      margin-right: 10px

  .chat-message
    display: flex
    margin-bottom: 10px

    > .spacer
      width: 80px
      flex-shrink: 0

    > .chat-bubble
      max-width: 100%
      min-width: 60%
      background-color: #fff
      border-radius: 10px
      box-shadow: 0 2px 7px rgba(0, 0, 0, .2)
      overflow: hidden

      > .chat-user
        font-size: 1.2rem
        font-family: Futura, "Trebuchet MS", Arial, sans-serif
        font-weight: 700
        margin-bottom: 7px
        word-break: break-word
        padding: 16px 16px 0 16px

      > .chat-img-upload
        max-height: 300px
        overflow: hidden
        margin: 10px 0
        position: relative
        min-height: 200px

        > img
          height: 100%
          position: absolute
          left: 50%
          top: 50%
          transform: translate(-50%, -50%)

      > .chat-yt
        width: 100%
        height: 300px
        margin: 10px 0

      > .chat-content
        line-height: 1.4
        word-break: break-word
        padding: 0 16px 0 16px

      > .chat-time
        font-size: 11px
        margin-top: 10px
        color: #8c8c8c
        padding: 0 16px 16px 16px

    > .chat-profile
      height: 70px
      width: 70px
      overflow: hidden
      border-radius: 50%
      box-shadow: 0 2px 7px rgba(0, 0, 0, .2)
      text-align: center

      > img
        height: 100%
        width: auto
        margin: 0 -100%

@media (min-width: 576px)
  .container
    max-width: 540px

@media (min-width: 768px)
  .container
    max-width: 720px

@media (min-width: 992px)
  .container
    max-width: 960px

@media (min-width: 1200px)
  .container
    max-width: 1140px

@media only screen and (max-width: 575.98px)
  .chat-container
    border-right: unset
    border-left: unset
    padding: 25px 0 58px
    .chat-message.me
      > .spacer
        width: 70px
      > .chat-profile
        display: none
    .chat-message.others
      > .spacer
        width: 0
      > .chat-profile
        width: 60px
        height: 60px

@keyframes pulse
  0%
    transform: scale(1)
  50%
    transform: scale(1.5)
  100%
    transform: scale(1)

@keyframes pulseInverted
  0%
    transform: scale(1)
  50%
    transform: scale(.7)
  100%
    transform: scale(1)
