.navbar
  height: 64px
  width: 100%
  > .navbar-wrapper
    background-color: #383838
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    position: fixed
    height: 64px
    box-shadow: 0 2px 7px rgba(0, 0, 0, .7)
    > .navbar-title
      font-family: Futura, "Trebuchet MS", Arial, sans-serif
      font-size: 3rem
      font-weight: 700
      color: #ffffff
